*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.bg-main{
    background-image: linear-gradient(rgba(16, 4, 243, 0.311) 0%,rgba(0, 0, 0, 0.7) 50%),url(pictures/bgmain.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.text{
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 20%;
}

.bg-main #profile-img{
    height: 200px;
    width: 200px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 100%;
    padding: 3px;
    object-fit: cover;
}
.text>h4{
    color: rgb(255, 255, 255);
    margin: 25px 0px 0px 0px;
}
.text>h2{
    font-size: 25px;
    margin: 8px;
    color: rgb(255, 255, 255);
}
.text>p {
    color: rgb(255, 255, 255);

}
.down{
    font-size: 30px;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
}

.down a{
    color: white;

}
.down a i{
    transition: 0.5s;
}
.down a i:hover{
    color: rgb(246, 255, 0);
    transform: scale(1.5, 1.5);

}









/*------ NAVBAR------- */
#sec-2{
    top: 0;
    position: sticky;
    z-index: 4;
}
#putti{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}
#putti p{

    margin: 10px 20px;
    font-size: 25px;
}
#navitems ul{
    display: flex;
    margin: 0px !important;
}
#putti ul li{
    list-style: none;
    margin: 10px 20px;
   cursor: pointer;
}
#putti ul li a{
    color: white;
    text-decoration: none;
}

.putti ul li a:hover{
    color: rgb(216, 216, 216);
}

#arrow-up{
    display: none;
}
@media(min-width: 734px){
    #arrow-up{
        display: none;
    }
}

@media(max-width: 832px){
    .iam #img-comp{
        margin: 20px;
        height: 200px;
        padding: 0px;
    }
    .iamtext{
        max-width: 400px;
        margin: 2 0px;
    }
    #putti ul{
     display: none; 
    }
    .services{
flex-wrap: wrap;
    }
    #arrow-up{
        display: block;
    }
    .fa-arrow-circle-up{
        color: rgb(246, 255, 0);
        font-size: 25px;
        margin-right: 15px;
    }
}










/*------------- i am--------------- */

.iam{
    user-select: none;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.iam img{
    margin: 50px;
    height: 300px;
    padding: 0px;
}
.iam p{
    text-align: justify;
    text-justify: inter-word;
    margin: 0px;
}
.adobe{
    margin-top: 10px;
}
.iamtext{
    max-width: 400px;
    margin: 50px;
}
.progress-bar{
    background: black;
}






/* --------------sideicons-------------- */


.sideicon{
    top: 35%;
    transform: translate(-50%);    
    position: sticky;
    z-index: 4;
    width: 50px;
    margin-left: 24px;
    margin-top: -250px;
}
.sideicon div{

    background-color:rgb(0, 0, 0) ;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    margin-left: 0px;
    width: 50px;
    transition: 0.5s;
    cursor: pointer;

}
.sideicon div i{
    color: white;
    cursor: pointer;
}
.sideicon div:hover{
    width: 70px;
}

.sideicon div:hover i{
    color: rgb(246, 255, 0);
    cursor: pointer;
}


@media(max-width: 900px){
    
    .sideicon{
        display: none;
    }

}


/*---------- Aboutme----------- */


.aboutme{
    user-select: none;
    margin-top: 200px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 226);

}

.aboutme p{
    margin-bottom: 0px;
}

.aboutme h3{
    margin-bottom: 50px;
    text-align: center;
}
.aboutme h5{
    color: white;
    background-color: black;
    padding: 5px 12px;
    margin-bottom: 0px;
}
.experience, .education{
    max-width: 500px;
    margin: 50px;
}

.boxes>div>div{
    background-color: rgb(255, 255, 255);
}

.boxes>.dubba div{
    margin: 30px;
    padding-bottom: 2px;
}
.dubba{
    position: relative;
}
#sub-boxes{
    height: 220px;
}
.dubba::before{
    content:'';
    width: 3px;
    height: 100%;
    background-color: black;
    z-index: 2;
    display: inline-block;
    position: absolute;
    left: 0;

}

.dubba>div::before{
    content:'';
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 15px;
    z-index: 3;
    display: inline-block;
    position: absolute; 
    margin-left: -41px;
}

@media(max-width: 1200px){
    #sub-boxes{
        height: auto;
    }
}


/*------------- offer section --------------*/

@media(max-width: 900px){
    .offersec{
        padding-top: 43px !important;
        margin: 72px 15px 80px 15px !important;
    }
}

.offersec{
    padding-top: 100px;
    margin: 100px 15px 80px 15px;
    user-select: none;
}
.offer{
    text-align: center;
    margin: 40px 20px;
}
.offer p{
    margin-top: 20px;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    }

.services div{
    max-width: 400px;
    min-width: 250px;
    margin: 15px;
    background-color: rgb(226, 226, 226);
    padding: 25px;
    color: black;
    transition: 0.5s;
    border: 0.5px solid black;
    border-radius: 10px;
}

.services div h5{
    margin-bottom: 10px;
}
.services div p{
    text-align: justify;
   text-justify: inter-word;
}
.services div:hover{
    box-shadow: 0 1em 1em rgb(0 0 0 / 20%);
    cursor: pointer;
    transform: translateY(-0.5em);

}
/* .glitch{
    letter-spacing: 6px;
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 200ms;
}
.glitch:hover{
    text-shadow: red -5px 0, cyan 5px 0;

} */




/* ----------contact us-------------- */
  

#contact-h {
    width: 90%;
    max-width: 600px;
    min-width: 200px;
    padding: 20px 10px;
    margin: 40px auto;
}

#contect h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    margin: 50px 10px 20px 10px;

}

#contect p {
    text-align: center;
    margin: 0px 10px 20px 10px;
}

.message label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.message input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

.message select {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.message textarea {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px 5px;
    outline: none;
}

#male,
#female {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}

#submit {
    margin-bottom: 30px;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

#submit:hover {
    background-color:rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
}

#submit:active {
    background-color: rgb(54, 54, 54);
    color: white;
}








/* -----------------work--------------------- */

#work-sec{
    margin: 150px 0px;
    user-select: none;
}

#work-text h2 {
    text-align: center;
    font-weight: bold;
    padding: 60px 10px 20px 10px;

}
 #work-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#work-sub-box{
    position: relative;
    margin: 25px;
}
#work-sub-box img{
    width: 350px;
    height: 260px;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
 }
 
 .bg-work-1{  background-color: rgba(165, 19, 31, 0.6) ; }
 .bg-work-2{  background-color: rgba(23, 138, 5, 0.6) ; }
 .bg-work-3{  background-color: rgba(31, 197, 202, 0.6) ; }
 .bg-work-4{  background-color: rgba(33, 43, 131, 0.6) ; }
 #light-bg{
    position: absolute !important;
    width: 350px;
    height: 260px;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px;
 }

#light-bg-text{
    margin-top: 75px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}  
.bg-work-1:hover{
    background-color: rgb(165, 19, 31) ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.bg-work-2:hover{
    background-color: rgb(23, 138, 5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.bg-work-3:hover{
    background-color: rgb(31, 197, 202);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.bg-work-4:hover{
    background-color: rgb(33, 43, 131);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#visit{
    margin-top: 40px;
}
#visit a {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px 17px;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.5s;
}
#visit a #r-arrow{
    margin-left: 2px;
    font-size: 17px;
    transition: 0.5s;
}
#visit a:hover{
color: rgb(223, 220, 220);
}

#visit a:hover #r-arrow{
    transform: translateX(5px);
    color: rgb(246, 255, 0);

}











.slider{
  box-sizing: border-box;
}


body {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(pictures/quotes.bg.jpg);
  height: 480px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 5rem 14px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid rgb(255, 255, 255);
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.s linear forwards;
          animation: check 0.s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.6s;
  transition: left 0.6s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: rgb(246, 255, 0);
}
.slider__caption {
    color: white;
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: rgb(218, 218, 218);
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}










/* ------------footer------------- */


.footericon {
    margin-top: -10px;
   display: flex;
   justify-content: center;
   width: 100%;
   max-width: 600px;
   margin: auto;
}

.footericon div {

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 25%;
    cursor: pointer;
    margin: 10px;
}

.footericon div i {
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 8px 13px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25%;
    font-size: 18px;
}
/* .ins {
    font-size: 22px !important;
    
} */
.footericon div .fb:hover {
    background-color: rgb(25, 106, 246);
    color: white;
    border: 1px solid rgb(25, 106, 246);
    border-radius: 25%;
}

.footericon div .twi:hover {
    background-color: rgb(76, 142, 240);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(76, 142, 240);
    border-radius: 25%;
}
.footericon div .ins:hover {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    color: white;
    padding: 9px 14px;
    border: none;
    border-radius: 25%;
}
.footericon div .lin:hover {
    background-color: rgb(38, 106, 242);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(38, 106, 242);
    border-radius: 25%;
}
.footericon div .fiv:hover {
    background-color: rgb(42, 164, 42);
    color: white;
    border: 1px solid rgb(42, 164, 42);
    border-radius: 25%;
}

@media(min-width: 900px){
    
    .footericon{
        display: none;
    }

}




footer {
    position: relative;
    background-color: black;
    color: white;
    padding: 0px 10px;
}


.footend {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 15px;
}
.quick{
    margin-top: 20px;
}
.quick>p {
    margin-top: 26px;
}

.kashifbilal {
    text-align: center;
    padding: 20px 2px;
}

@media(max-width: 600px) {
    #nav-end {
        display: none;
    }
    .kashifbilal{
        font-size: 10px;
    }
}


